<header class="gel-styleguide-header gel-wrap">
    <a class="bbc-brand" href="http://www.bbc.co.uk">
        <img src="{{ site.baseurl}}/assets/images/bbc-logo.svg" alt="BBC Logo">
    </a>
    <a class="gel-brand" href="http://www.bbc.co.uk/gel">
            <object data="{{ site.baseurl}}/assets/images/bbc-gel-logo-orange.svg" type="image/svg+xml">
                <img src="{{ site.baseurl}}/assets/images/bbc-gel-logo.png" alt="BBC GEL Logo">
            </object>
    </a>
    <h1 class="gel-styleguide-title gel-canon-bold">{{ page.title }}</h1>
</header>

