<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>GEL Test Rig | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script>
        var GEL = {
            browser : {
                isIE8: false
            },
            mustard : false
        };
    </script>
    <!--[if IE 8]><script>GEL.browser.isIE8 = true;</script><![endif]-->
    <script>
        GEL.mustard = (function () {
            var enhanced = (
                'addEventListener' in window &&
                'querySelector' in window.document &&
                'localStorage' in window
            );
            return (enhanced || GEL.browser.isIE8);
        })();
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script> document.createElement('picture'); </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/2.2.0/picturefill.min.js"></script>

    <script>
        if (GEL.mustard && GEL.browser.isIE8) {
            document.write('<link rel="stylesheet" href="{{ site.baseurl}}/assets/css/fixed.css" />');
        } else if (GEL.mustard) {
            document.write('<link rel="stylesheet" href="{{ site.baseurl}}/assets/css/enhanced.css" />');
        } else {
            document.write('<link rel="stylesheet" href="{{ site.baseurl}}/assets/css/base.css" />');
        }
    </script>
    <noscript>
        <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/base.css" />
    </noscript>
    {% include icons.html %}
</head>

<body>

    {% include header.html %}

    <div class="gel-guideline-body">
        {{ content }}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ site.baseurl}}/assets/js/main.js"></script>
</body>
</html>