/**
 * Define the core typography experience - this basically maps
 * various elements of the GEL typography guidelines to the
 * relivant type selectors
 */
html {
  font-family: Helvetica, Arial, Sans-serif;
  color:$gel-color--tundora;
}

/* Type Styles for the GEL Guideline body */
.gel-guideline-body {
    @extend %gel-pica;

    h1 {
        @extend %gel-canon-bold;
        margin-top: $gel-alt-spacing-unit;
        margin-bottom: $gel-alt-spacing-unit;
    }

    h2 {
        @extend %gel-trafalgar-bold;

        margin-top: $gel-alt-spacing-unit * 2;
        margin-bottom: double($gel-spacing-unit);
    }

    h3 {
        @extend %gel-great-primer-bold;

        margin-top: double($gel-spacing-unit);
        margin-bottom: double($gel-spacing-unit);
    }

    h4 {
        @extend %gel-pica-bold;

        margin-top: double($gel-spacing-unit);
        margin-bottom: $gel-spacing-unit;
    }

    p {
       margin-bottom: double($gel-spacing-unit);
    }

}


/* Type Styles for the GEL Homepage & Indexes */
.gel-index-body {
    @extend %gel-long-primer;

    h1 {
        @extend %gel-canon-bold;
        margin-top: $gel-alt-spacing-unit;
        margin-bottom: $gel-alt-spacing-unit;
    }

    h2 {
        @extend %gel-trafalgar-bold;

        margin-top: $gel-alt-spacing-unit;
        margin-bottom: double($gel-spacing-unit);
    }

    p {
       margin-bottom: double($gel-spacing-unit);
    }
}

.gel-guideline-body, .gel-index-body {
    ul, ol {
        list-style-position: inside;
        margin-bottom: double($gel-spacing-unit);
    }

    ul {
        list-style-type: square;
    }

    ul li, ol li {
        margin-bottom: $gel-spacing-unit / 2;
    }

    a:link,
    a:visited {
        font-weight: bold;
        text-decoration: underline;
        color: $gel-color--tundora;
    }

    a:hover {
        -webkit-transition: color 0.2s ease-out;
        -khtml-transition: color 0.2s ease-out;
        -moz-transition: color 0.2s ease-out;
        -ms-transition: color 0.2s ease-out;
        -o-transition: color 0.2s ease-out;
        transition: color 0.2s ease-out;
    }

    a:focus,
    a:hover,
    a:active {
        text-decoration: underline;
        color: $gel-color--orange; /* TODO: Define correct link colour */
    }

    /* TODO: Define outline styles
    a:focus, .button:focus {

    } */

    small, figcaption {
        @extend %gel-brevier;
        color: $gel-color--cod-gray;
    }

}
